# Ignorar pastas temporárias geradas pelo Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar arquivos temporários do macOS
.DS_Store

# Ignorar arquivos de configuração do Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignorar arquivos de configuração do IntelliJ
.idea
*.iws
*.iml
*.ipr

# Ignorar arquivos do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar arquivos de configuração do VS Code
.vscode/